@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
* {
    font-family: "Merriweather";
}

form {
    position: absolute;
    left: 50px;
    top: 135px;
    z-index: 1;
}

#map {
    height: 100%;
    width: 200%;
}

#map {
    position: wrap, absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


/* Set the size of the div element that contains the map */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    background: #D6E9FE;
}

.main .navbar {
    position: absolute;
    height: auto;
    width: 100%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;
}

.main .navbar .logo {
    position: relative;
    height: auto;
    width: 20%;
    left: 10%;
    float: left;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
}

.main .navbar .logo:hover {
    color: rgba(0, 0, 0, 0.4);
}

.main .navbar ul {
    position: relative;
    float: right;
    width: 50%;
    right: -25%;
    height: auto;
    margin: auto;
}

.main .navbar ul li {
    list-style-type: none;
    display: inline-block;
    height: 100%;
    width: auto;
    border: 1px solid rgba(255, 255, 255, 0.88);
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.1s ease-in-out;
    box-sizing: border-box;
}

.main .navbar ul li a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    display: block;
}


/*style navbar to have a shadow backdrop when hovering */

.main .navbar ul li:hover {
    background: rgba(249, 249, 249, 0.4);
}

.main .heading {
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
}

.main .heading .head {
    position: relative;
    font-size: 48px;
    font-weight: 600;
    color: black;
}

.navbar {
    height: 80px;
    background-color: transparent;
    border: none;
    color: black;
    z-index: 100;
    transition: background-color 1s ease 0s;
}
/* 
.navbar-default {
    .navbar-brand {
        {
            margin-top: 10px;
            color: black;
        }
        hover {
            color: #C57ED3;
            border: 1px solid #C57ED3;
        }
    
    .navbar-nav {
        li {
            a {
                color: black;
                margin: 10px 5px 5px 5px;
            }
            a:hover,
            a:active,
            a:focus {
                color: #C57ED3;
                border: 1px solid #C57ED3;
            }
            a:visited {
                color: #C57ED3;
                text-decoration: none;
            }
        }
        .active {
            a,
            a:hover,
            a:focus {
                background-color: transparent;
                color: #C57ED3;
            }
        }
    }
    /* NavBar-Nav ended*/
    /*Collapsed styles*/
    .navbar-toggle {
        border-color: #C57ED3;
        &:hover,
        &:focus {
            background-color: #490D40;
        }
        .icon-bar {
            color: #C57ED3;
            background-color: #C57ED3;
        }
    }
    .navbar-collapse.collapse.in ul {
        background-color: #490D40;
    }
}


/* .navbar-default ended*/


/* Solid class attached on scroll past first section */

.navbar.solid {
    {
        background-color: #490D40;
        transition: background-color 1s ease 0s;
        box-shadow: 0 0 4px grey;
    }
    .navbar-brand {
        color: #C57ED3;
        transition: color 1s ease 0s;
    }
    .navbar-nav {
        li {
            a {
                color: #C57ED3;
                transition: color 1s ease 0s;
            
        }
    }
} */