@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
*{
    font-family: "Merriweather";

}
body{
	margin:0;
	padding:0;
	background:#fafafa;
    background-image: url("../images/wp9045666.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	color:#fff;
}

.main{
	position: relative;
	height:100vh;
	width:100%;
	top:0;
	left:0;
	right:0;  
    

}
.main .overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 0;

}

.main .navbar{
	position: absolute;
	height:auto;
	width:100%;
	margin:2% 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding:10px 0;
}
.main .navbar .logo{
	position: relative;
	height:auto;
	width:20%;
	left:10%;
	float:left;
	font-size:35px;
	font-weight:bolder;
	cursor: pointer;
	text-shadow:0px 0.5px 0px rgba(0, 0, 0, 0.2);
	transition: 0.1s ease-in-out;
}
.main .navbar .logo:hover{
	color:rgba(0, 0, 0, 0.4);
}
.main .navbar  ul{
	position: relative;
	float:right;
	width:50%;
	right: -25%;
	height:auto;
	margin:auto;
}
.main .navbar ul li{
	list-style-type: none;
	display: inline-block;
	height:100%;
	width:auto;
	border:1px solid rgba(255, 255, 255, 0.88);
	border-radius:2px ;
	cursor: pointer;
	padding:10px;
	box-shadow:0px 0.5px 5px rgba(0, 0, 0, 0.2);
	transition: 0.1s ease-in-out;
	box-sizing: border-box;
}
.main .navbar ul li a{
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	font-weight:300;
	display: block;
}
/*style navbar to have a shadow backdrop when hovering */
.main .navbar ul li:hover{
	background:rgba(0, 0, 0, 0.4);
}
.main .heading{
	position: absolute;
	height:auto;
	width:100%;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	text-shadow:0px 0.5px 5px rgba(0, 0, 0, 0.2);
}
.main .heading .head{
	position: relative;
	font-size:48px;
	font-weight: 600; 
	color:#fff;
}
/* style the word JOB in different color*/
/* changed class name so that not all spans have to be blue */

.main .heading .head .bluetextspan{
	color:#017fb5;
}

.main .heading .buttons{
	height:auto;
	width:100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
}
.main .heading .buttons a{
	color:#fff;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	font-weight:300;
	display:block;
	border:1px solid rgba(255, 255, 255, 0.5);
	height:auto;
	width:150px;
	padding:10px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-left:1%;
	border-radius: 2px;
	transition: 0.5s ease-in-out;
}
#colorbutton {
	 
		background-color: #017fb5;
		border-radius: 5px;
		width: 3.75vw;
		margin-left: 1%;
	
}
.main .heading .buttons a:hover{
	background:#017fb5;
	border:1px solid #017fb5;
}
.main .heading .buttons .btn1{
	background:#017fb5;
	border:1px solid #017fb5;
}
.main .heading .buttons .btn1:hover{
	background:#017fb5;
	border:1px solid #017fb5 ;
	color:rgba(255, 255, 255, 0.95);
}
.heading .wrapper{
   
	top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    max-width: 550px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
#search-input{
    width:50%;
	height:4.vh;
    padding: 15px 20px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}
.heading .wrapper .searchbtn{
    background:#017fb5;
    width:8%;
    border-radius: 5px;
    position:relative;
    cursor: pointer;

}
.heading .wrapper .searchbtn .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    font-size: 18px;

} 

.jobFavoritesDiv{
	top: 200px;
}
.bookmarksHeaderDiv{
	top: 175px;
	position: relative;
	font-size:48px;
	font-weight: 600; 
	color:#fff;
}
.bookmarksBody{
	background-color:grey;
	background-size: 100%;
	background-attachment:fixed;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/wp9045192.jpg);

}
/* @media screen and (max-width: 790px){
	ul{
		display: flex;
		justify-content: center;
		flex-direction: column;
		
	}
	li {
		border:none;
		margin: 5px;
	}
	body {
		
		display:flex; */
		/* flex-direction: column; */
		
	/*  } */
/*}*/
